openapi: 3.2.0
info:
  title: Alpaca API (Trading, Market Data, Broker) Broker - Funding…
  description: A grounded, curated OpenAPI description of Alpaca's public REST surface.
  version: '1.0'
  contact:
    name: Alpaca
    url: https://alpaca.markets
  license:
    name: API documentation - Alpaca Terms of Service
    url: https://alpaca.markets/terms
servers:
- url: https://api.alpaca.markets/v2
  description: Trading API - live
- url: https://paper-api.alpaca.markets/v2
  description: Trading API - paper (free sandbox)
- url: https://data.alpaca.markets
  description: Market Data API
- url: https://broker-api.alpaca.markets/v1
  description: Broker API - production
security:
- apcaKey: []
  apcaSecret: []
tags:
- name: Broker - Funding
  description: Transfers and journals between accounts.
paths:
  /accounts/{account_id}/transfers:
    servers:
    - url: https://broker-api.alpaca.markets/v1
      description: Broker API
    post:
      operationId: createTransfer
      tags:
      - Broker - Funding
      summary: Create a transfer
      description: Initiates an ACH or wire transfer to fund an end-user account. Full path is https://broker-api.alpaca.markets/v1/accounts/{account_id}/transfers.
      security:
      - brokerBasic: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: The brokerage account UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created transfer.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apcaKey:
      type: apiKey
      in: header
      name: APCA-API-KEY-ID
      description: Alpaca API key ID. Paired with APCA-API-SECRET-KEY.
    apcaSecret:
      type: apiKey
      in: header
      name: APCA-API-SECRET-KEY
      description: Alpaca API secret key. Paired with APCA-API-KEY-ID.
    brokerBasic:
      type: http
      scheme: basic
      description: Broker API HTTP Basic auth using your Broker API key as username and secret as password.
