openapi: 3.2.0
info:
  title: Alpaca API (Trading, Market Data, Broker) Broker - Accounts…
  description: A grounded, curated OpenAPI description of Alpaca's public REST surface.
  version: '1.0'
  contact:
    name: Alpaca
    url: https://alpaca.markets
  license:
    name: API documentation - Alpaca Terms of Service
    url: https://alpaca.markets/terms
servers:
- url: https://api.alpaca.markets/v2
  description: Trading API - live
- url: https://paper-api.alpaca.markets/v2
  description: Trading API - paper (free sandbox)
- url: https://data.alpaca.markets
  description: Market Data API
- url: https://broker-api.alpaca.markets/v1
  description: Broker API - production
security:
- apcaKey: []
  apcaSecret: []
tags:
- name: Broker - Accounts
  description: Open and manage end-user brokerage accounts.
paths:
  /accounts:
    servers:
    - url: https://broker-api.alpaca.markets/v1
      description: Broker API
    post:
      operationId: createBrokerAccount
      tags:
      - Broker - Accounts
      summary: Create a brokerage account
      description: Opens a new end-user brokerage account with KYC/onboarding details. Full path is https://broker-api.alpaca.markets/v1/accounts. Broker API uses HTTP Basic authentication.
      security:
      - brokerBasic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created brokerage account.
          content:
            application/json:
              schema:
                type: object
  /accounts/{account_id}:
    servers:
    - url: https://broker-api.alpaca.markets/v1
      description: Broker API
    get:
      operationId: getBrokerAccount
      tags:
      - Broker - Accounts
      summary: Get a brokerage account
      description: Retrieves a single end-user brokerage account. Full path is https://broker-api.alpaca.markets/v1/accounts/{account_id}.
      security:
      - brokerBasic: []
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: The brokerage account UUID.
      responses:
        '200':
          description: The brokerage account.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apcaKey:
      type: apiKey
      in: header
      name: APCA-API-KEY-ID
      description: Alpaca API key ID. Paired with APCA-API-SECRET-KEY.
    apcaSecret:
      type: apiKey
      in: header
      name: APCA-API-SECRET-KEY
      description: Alpaca API secret key. Paired with APCA-API-KEY-ID.
    brokerBasic:
      type: http
      scheme: basic
      description: Broker API HTTP Basic auth using your Broker API key as username and secret as password.
