openapi: 3.2.0
info:
  title: Alpaca API (Trading, Market Data, Broker) Market Data…
  description: A grounded, curated OpenAPI description of Alpaca's public REST surface.
  version: '1.0'
  contact:
    name: Alpaca
    url: https://alpaca.markets
  license:
    name: API documentation - Alpaca Terms of Service
    url: https://alpaca.markets/terms
servers:
- url: https://api.alpaca.markets/v2
  description: Trading API - live
- url: https://paper-api.alpaca.markets/v2
  description: Trading API - paper (free sandbox)
- url: https://data.alpaca.markets
  description: Market Data API
- url: https://broker-api.alpaca.markets/v1
  description: Broker API - production
security:
- apcaKey: []
  apcaSecret: []
tags:
- name: Market Data - Options
  description: Options bars, trades, and snapshots (v1beta1).
paths:
  /v1beta1/options/snapshots/{underlying_symbol}:
    servers:
    - url: https://data.alpaca.markets
      description: Market Data API
    get:
      operationId: getOptionSnapshots
      tags:
      - Market Data - Options
      summary: Get option chain snapshots
      description: Returns snapshots for the option contracts of an underlying symbol. Full path is https://data.alpaca.markets/v1beta1/options/snapshots/{underlying_symbol}.
      parameters:
      - name: underlying_symbol
        in: path
        required: true
        schema:
          type: string
        description: The underlying equity symbol, for example AAPL.
      - name: feed
        in: query
        schema:
          type: string
          enum:
          - indicative
          - opra
        description: Options feed. indicative on Basic, opra on Algo Trader Plus.
      responses:
        '200':
          description: Option snapshots.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apcaKey:
      type: apiKey
      in: header
      name: APCA-API-KEY-ID
      description: Alpaca API key ID. Paired with APCA-API-SECRET-KEY.
    apcaSecret:
      type: apiKey
      in: header
      name: APCA-API-SECRET-KEY
      description: Alpaca API secret key. Paired with APCA-API-KEY-ID.
    brokerBasic:
      type: http
      scheme: basic
      description: Broker API HTTP Basic auth using your Broker API key as username and secret as password.
