openapi: 3.2.0
info:
  title: Alpaca API (Trading, Market Data, Broker) Portfolio API
  description: A grounded, curated OpenAPI description of Alpaca's public REST surface.
  version: '1.0'
  contact:
    name: Alpaca
    url: https://alpaca.markets
  license:
    name: API documentation - Alpaca Terms of Service
    url: https://alpaca.markets/terms
servers:
- url: https://api.alpaca.markets/v2
  description: Trading API - live
- url: https://paper-api.alpaca.markets/v2
  description: Trading API - paper (free sandbox)
- url: https://data.alpaca.markets
  description: Market Data API
- url: https://broker-api.alpaca.markets/v1
  description: Broker API - production
security:
- apcaKey: []
  apcaSecret: []
tags:
- name: Portfolio
  description: Portfolio history and performance.
paths:
  /account/portfolio/history:
    get:
      operationId: getPortfolioHistory
      tags:
      - Portfolio
      summary: Get portfolio history
      description: Returns time series of account equity and profit/loss over a period.
      parameters:
      - name: period
        in: query
        schema:
          type: string
        description: The duration of the data, for example 1D, 1M, 1A.
      - name: timeframe
        in: query
        schema:
          type: string
        description: Resolution of time window, for example 1Min, 15Min, 1D.
      responses:
        '200':
          description: Portfolio history time series.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apcaKey:
      type: apiKey
      in: header
      name: APCA-API-KEY-ID
      description: Alpaca API key ID. Paired with APCA-API-SECRET-KEY.
    apcaSecret:
      type: apiKey
      in: header
      name: APCA-API-SECRET-KEY
      description: Alpaca API secret key. Paired with APCA-API-KEY-ID.
    brokerBasic:
      type: http
      scheme: basic
      description: Broker API HTTP Basic auth using your Broker API key as username and secret as password.
