openapi: 3.2.0
info:
  title: Alpaca API (Trading, Market Data, Broker) Market Data…
  description: A grounded, curated OpenAPI description of Alpaca's public REST surface.
  version: '1.0'
  contact:
    name: Alpaca
    url: https://alpaca.markets
  license:
    name: API documentation - Alpaca Terms of Service
    url: https://alpaca.markets/terms
servers:
- url: https://api.alpaca.markets/v2
  description: Trading API - live
- url: https://paper-api.alpaca.markets/v2
  description: Trading API - paper (free sandbox)
- url: https://data.alpaca.markets
  description: Market Data API
- url: https://broker-api.alpaca.markets/v1
  description: Broker API - production
security:
- apcaKey: []
  apcaSecret: []
tags:
- name: Market Data - Stocks
  description: Historical and latest stock bars, trades, quotes, snapshots, and auctions.
paths:
  /v2/stocks/bars:
    servers:
    - url: https://data.alpaca.markets
      description: Market Data API
    get:
      operationId: getStockBars
      tags:
      - Market Data - Stocks
      summary: Get historical stock bars
      description: Returns aggregate OHLCV bars for one or more stock symbols over a time range and timeframe. Full path is https://data.alpaca.markets/v2/stocks/bars.
      parameters:
      - name: symbols
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated list of stock symbols.
      - name: timeframe
        in: query
        required: true
        schema:
          type: string
        description: Bar aggregation, for example 1Min, 5Min, 1Hour, 1Day.
      - name: start
        in: query
        schema:
          type: string
          format: date-time
        description: Inclusive RFC-3339 start time.
      - name: feed
        in: query
        schema:
          type: string
          enum:
          - iex
          - sip
          - delayed_sip
        description: Data feed. iex on Basic, sip on Algo Trader Plus.
      responses:
        '200':
          description: Historical bars keyed by symbol.
          content:
            application/json:
              schema:
                type: object
  /v2/stocks/{symbol}/snapshot:
    servers:
    - url: https://data.alpaca.markets
      description: Market Data API
    get:
      operationId: getStockSnapshot
      tags:
      - Market Data - Stocks
      summary: Get stock snapshot
      description: Returns the latest trade, latest quote, minute bar, daily bar, and previous daily bar for a symbol. Full path is https://data.alpaca.markets/v2/stocks/{symbol}/snapshot.
      parameters:
      - name: symbol
        in: path
        required: true
        schema:
          type: string
        description: The stock symbol.
      responses:
        '200':
          description: The snapshot.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apcaKey:
      type: apiKey
      in: header
      name: APCA-API-KEY-ID
      description: Alpaca API key ID. Paired with APCA-API-SECRET-KEY.
    apcaSecret:
      type: apiKey
      in: header
      name: APCA-API-SECRET-KEY
      description: Alpaca API secret key. Paired with APCA-API-KEY-ID.
    brokerBasic:
      type: http
      scheme: basic
      description: Broker API HTTP Basic auth using your Broker API key as username and secret as password.
