openapi: 3.2.0
info:
  title: Alpaca API (Trading, Data, Broker) Market API
  description: A grounded, curated OpenAPI description of Alpaca's public REST surface.
  version: '1.0'
  contact:
    name: Alpaca
    url: https://alpaca.markets
  license:
    name: API documentation - Alpaca Terms of Service
    url: https://alpaca.markets/terms
servers:
- url: https://api.alpaca.markets/v2
  description: Trading API - live
- url: https://paper-api.alpaca.markets/v2
  description: Trading API - paper (free sandbox)
- url: https://data.alpaca.markets
  description: Market Data API
- url: https://broker-api.alpaca.markets/v1
  description: Broker API - production
security:
- apcaKey: []
  apcaSecret: []
tags:
- name: Market
  description: Market calendar and clock.
paths:
  /calendar:
    get:
      operationId: getCalendar
      tags:
      - Market
      summary: Get market calendar
      description: Returns the market calendar (open/close dates and session times).
      responses:
        '200':
          description: The market calendar.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /clock:
    get:
      operationId: getClock
      tags:
      - Market
      summary: Get market clock
      description: Returns the current market timestamp, whether the market is open, and next open/close.
      responses:
        '200':
          description: The market clock.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apcaKey:
      type: apiKey
      in: header
      name: APCA-API-KEY-ID
      description: Alpaca API key ID. Paired with APCA-API-SECRET-KEY.
    apcaSecret:
      type: apiKey
      in: header
      name: APCA-API-SECRET-KEY
      description: Alpaca API secret key. Paired with APCA-API-KEY-ID.
    brokerBasic:
      type: http
      scheme: basic
      description: Broker API HTTP Basic auth using your Broker API key as username and secret as password.
