openapi: 3.2.0
info:
  title: Alpaca API (Trading, Market Data, Broker) Market Data…
  description: A grounded, curated OpenAPI description of Alpaca's public REST surface.
  version: '1.0'
  contact:
    name: Alpaca
    url: https://alpaca.markets
  license:
    name: API documentation - Alpaca Terms of Service
    url: https://alpaca.markets/terms
servers:
- url: https://api.alpaca.markets/v2
  description: Trading API - live
- url: https://paper-api.alpaca.markets/v2
  description: Trading API - paper (free sandbox)
- url: https://data.alpaca.markets
  description: Market Data API
- url: https://broker-api.alpaca.markets/v1
  description: Broker API - production
security:
- apcaKey: []
  apcaSecret: []
tags:
- name: Market Data - News
  description: Real-time and historical market news (v1beta1).
paths:
  /v1beta1/news:
    servers:
    - url: https://data.alpaca.markets
      description: Market Data API
    get:
      operationId: getNews
      tags:
      - Market Data - News
      summary: Get market news
      description: Returns market news articles, optionally filtered by symbols and time. Full path is https://data.alpaca.markets/v1beta1/news.
      parameters:
      - name: symbols
        in: query
        schema:
          type: string
        description: Comma-separated symbols to filter news by.
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
        description: Maximum number of articles to return.
      responses:
        '200':
          description: News articles.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apcaKey:
      type: apiKey
      in: header
      name: APCA-API-KEY-ID
      description: Alpaca API key ID. Paired with APCA-API-SECRET-KEY.
    apcaSecret:
      type: apiKey
      in: header
      name: APCA-API-SECRET-KEY
      description: Alpaca API secret key. Paired with APCA-API-KEY-ID.
    brokerBasic:
      type: http
      scheme: basic
      description: Broker API HTTP Basic auth using your Broker API key as username and secret as password.
